body{
    background-color: beige;
}

div img{
    offset-distance: right;
    width: 200px;
  height: 200px;
}
h1{
  color:white;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}
header{
  background-color:rgb(13, 77, 77);
}

nav ul{
  font-size: 20px;
  list-style: none;
}

nav ul li{
  color: darkcyan;
  font-weight: bold;
  display:inline-block;
}

nav ul li a{
  color: darkcyan;
}

nav ul li a:hover{
color: orangered;
}
